@use "../../common/color.scss" as r;

.movie-list,
.show-list {
  margin: 20px 0px;
  h2 {
    color: r.$font-secondary;
    margin-bottom: 10px;
    font-weight: 400;
  }
}

.loading,
.movies-error {
  color: r.$font-primary;
}
